.card {
  display: inline-block;
  width: 4em;
  height: 5.2em;
  background: #fff;
  border-radius: 3px;
  margin: 0;
}

.card > .card-inner {
  font-size: 6.3em;
  line-height: 0.67em;
  margin-left: -0.035em;
}

.card.diamonds, .card.hearts {
  color: #CC0000;
}
