.card {
  display: inline-block;
  width: 5em;
  height: 6.61em;
  background: #fff;
  border-radius: 3px;
  margin: 0 5px 10px 0;
}

.card > .card-inner {
  font-size: 8em;
  line-height: 0.67em;
  margin-left: -0.035em;
}

.card.diamonds, .card.hearts {
  color: #CC0000;
}
